.portlet-search {
	.search-portlet-keywords-input {
		padding-right: 2.5rem;
	}

	.lfr-search-button-wrapper {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		line-height: 2.5rem;
		margin-left: -2rem;
		margin-right: 4px;
		position: absolute;

		.btn {
			display: flex;
		}
	}
}
